.disabledButton,
.buttonsubmit,
.buttonstyle,
.buttonpage,
.buttonList,
.buttonDetails,
.buttonIntro,
.buttonAdd,
.buttonBack {
 background-color: blue;
 color: white;
 padding: 10px 20px;
 border-radius: 5px;
 border: none;
 cursor: pointer;
 transition-duration: 0.4s;
 position: relative;
 
 margin: 1rem;
}

.disabledButton {
  background-color: grey;
  margin-bottom: 2.3rem;
  
 }

 

.buttonIntro {
  bottom: 0;
}

.buttonIntro:hover, .buttonstyle:hover, .buttonsubmit:hover, .buttonpage:hover, .buttonList:hover, .buttonAdd:hover, .buttonBack:hover, .buttonDetails:hover
{
  background-color: navy;
}

.buttonsubmit {
  bottom: 1rem;
 }

 .buttonpage {
  margin-bottom: 2.3rem;
 }

.buttonhome {
 background-color: rgb(15, 15, 15);
 color: whitesmoke;
 font-size: 20px;
 border-radius: 12px;
 transition-duration: 0.4s;
 margin: 0 auto;
 text-align: left;
 position: absolute;
 left: 10%;
 padding: 15px;
 
}

.buttonList,
.buttonDetails {
  scale: 75%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #4040FF;
  bottom: 0;
  

}

.buttonAdd, 
.buttonBack {
  scale: 85%;
  background-color: #4040FF;
  margin: 0;
  width: 8rem;
}



.buttonhome:hover {
 background-color: #04AA6D; /* Green */
 color: white;
}

@media (max-width: 655px) {
  .buttonBack {
      scale: 60%;
      margin-left: 0rem;

      
  }
}
