.disabledButton,
.buttonsubmit,
.buttonstyle,
.buttonpage {
 background-color: blue;
 color: white;
 padding: 10px 20px;
 border-radius: 5px;
 border: none;
 cursor: pointer;
 transition-duration: 0.4s;
 position: relative;
 bottom: 23rem;
 margin: 1rem;
}

.disabledButton {
  background-color: grey;
  bottom: 0;
}

.buttonsubmit {
  bottom: 1rem;
 }

.buttonstyle:hover {
 background-color: navy;
} 

.buttonsubmit:hover  {
  background-color: navy;
 } 

.buttonhome {
 background-color: rgb(15, 15, 15);
 color: whitesmoke;
 font-size: 20px;
 border-radius: 12px;
 transition-duration: 0.4s;
 margin: 0 auto;
 text-align: left;
 position: absolute;
 left: 10%;
 padding: 15px;
 
}

.buttonpage {
  bottom: 0rem;
}


 .buttonpage:hover  {
  background-color: navy;
 } 


.buttonhome:hover {
 background-color: #04AA6D; /* Green */
 color: white;
}