.disabledButton,
.buttonsubmit,
.buttonstyle,
.buttonpage,
.buttonList,
.buttonDetails,
.buttonIntro {
 background-color: blue;
 color: white;
 padding: 10px 20px;
 border-radius: 5px;
 border: none;
 cursor: pointer;
 transition-duration: 0.4s;
 position: relative;
 bottom: 23rem;
 margin: 1rem;
}

.disabledButton {
  background-color: grey;
  bottom: 0;
}

.buttonIntro {
  bottom: 0;
}

.buttonIntro:hover, .buttonstyle:hover, .buttonsubmit:hover, .buttonpage:hover
{
  background-color: navy;
}

.buttonsubmit {
  bottom: 1rem;
 }

.buttonhome {
 background-color: rgb(15, 15, 15);
 color: whitesmoke;
 font-size: 20px;
 border-radius: 12px;
 transition-duration: 0.4s;
 margin: 0 auto;
 text-align: left;
 position: absolute;
 left: 10%;
 padding: 15px;
 
}

.buttonpage {
  bottom: 0rem;
}

.buttonList,
.buttonDetails {
  bottom: 0rem;
  scale: 75%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #4040FF;
}

.buttonhome:hover {
 background-color: #04AA6D; /* Green */
 color: white;
}