.container {
 color: rgb(0, 119, 255);
background-color: #000040;
display: flex;
flex-direction: column;

align-items: center;
height: 100vh; 



}

.containerquestions {
  color: #475877;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 29.5rem; 
  width: 30rem;
     margin-top: 5rem;       
 border: 2px solid rgb(255, 255, 255);
 
 
}

  
 

.containerdisplay {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: flex-start;
 gap: 20px;
 padding: 20px;
 background-color: #000040;
 margin-top: 0rem;
 min-height: 100vh;
}

.displaycard {
 background-color: #222;
 color: white;
 width: 20rem;
 height: 30.5rem;
 min-height: 300px;
 border: 1px solid white;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 padding: 10px;
 margin-top: 3rem;
}

.displaycardtitle {
 font-size: 20px;
 color: #39FF14;
 text-align: center;
 margin-top: 1rem;
 
}


 



.titlecontainer {
 border-color: white;
 border-radius: 5%;
 font-size: xx-large;
 justify-content: center;
 align-items: center;
 display: flex;
 color: white;
 padding-top: 3rem;

 
 
}

.displayattributes {
 margin-bottom: 1rem;
 margin-top: 1rem;
}

.textcontainer {
 justify-content: center;
align-items: center;
color: white;
font-size: large;


}

.cardimage {
 width: 30rem;
 border-radius: 5%;
 margin-top: 5rem;
}

.pText {
 color: white;
}