.container {
    color: rgb(0, 119, 255);
 background-color: #000040;
 display: flex;
 flex-direction: column;
 
 align-items: center;
 height: 100vh; 
 
 
 
}

.containerquestions {
     color: #475877;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 29.5rem; 
     width: 30rem;
        margin-top: 5rem;       
    border: 2px solid rgb(255, 255, 255);
    
    
}

.screenshotContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
   justify-content: center;
   margin-top: 3rem;
    
  }
  
  .screenshotImage {
    width: 280px;
    height: auto;
    border: 2px solid white;
    border-radius: 5px;
  }

  .detailsText {
    font-size: 1rem;
    text-align: center;
    border: 2px solid white;
    border-radius: 10%;
    height: fit-content;
    margin-top: 2rem;
    padding: 2rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
   
  }

 

     
    
  
.containerdisplay,
.containerdisplay2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: #000040;
    margin-top: 0rem;
    min-height: 70vh;
}

.containerdisplay2 {
    scale: 110%;
    margin-top: 8rem;
   max-width: 70vh;
   color: white
   
    
}

.displaycard {
    background-color: #222;
    color: white;
    width: 20rem;
    height: 30.5rem;
    min-height: 300px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin-top: 3rem;
}

.displaycardtitle {
    font-size: clamp(16px, 2vw, 20px); /* Dynamically adjusts font size between 16px and 20px */
    color: #39FF14;
    text-align: center;
    margin-top: 0.5rem;
    white-space: nowrap; /* Prevents line breaks */
    overflow: hidden; /* Ensures text doesn't overflow the container */
    text-overflow: ellipsis; /* Adds '...' if text is too long */
    width: 100%;
    
}



    

 

.titlecontainer {
    border-color: white;
    border-radius: 5%;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    padding-top: 3rem;
   
    
    
}

.displayattributes {
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

.textcontainer {
    justify-content: center;
 align-items: center;
 color: white;
 font-size: large;

 
}

.greenText {
    color:#39FF14;
}

.whiteText {
    color: white;
}

.cardimage {
    width: 30rem;
    border-radius: 5%;
    margin-top: 5rem;
}

.pText {
    color: white;
}
