.headerstyle {
  display: flex;
   justify-content: center;
  align-items: center;
    padding-top: 2rem;
    
  }

  .container {
    background-image: linear-gradient(#000040, #4040FF);
    width: 100%;
  }

.buttoncontainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 1rem;
    margin-right: 1rem;
  }

  
  .active {
    border-color: #39FF14; /* Active border color */
    font-weight: bold !important;
    color: red !important;
    text-decoration: underline !important;
    scale: 110%;
    border-style: solid;
    border-radius: 5px;
  }

  .NavBarPointer {
    cursor: pointer;
    
  }

 

   .NavBarPointer {
    cursor: pointer;
    text-decoration: underline !important;
    text-decoration-color: transparent !important;
    transition: 0.4s;
   }
  
  

  @media (max-width: 1013px) {
    .img {
      width: 80%;
    }
  }
 