.headerstyle {
  display: flex;
   justify-content: center;
  align-items: center;
    padding-top: 2rem;
    
  }

  .container {
    background-image: linear-gradient(#000040, #4040FF);
    width: 100%;
  }

  @media (max-width: 1013px) {
    .img {
      width: 80%;
    }
  }
 