.navBarStyle {
 background-color: #4040FF;
 position: fixed;
 height: 3rem;
 width: 100%;
 color: white; 
}



.navBarStyle a, .navBarStyle p, .navBarStyle h1 {
 color: inherit; 
}

.NavBarPointer {
 cursor: pointer;
 color: white!important;
}

.NavBarPointer:hover {
 color: black !important;
}
