.navBarStyle {
 background-color: #4040FF;
 position: fixed;
 height: 3.5rem;
 width: 100%;
 color: white; 
 padding-left: 50px;
}



.navBarStyle a, .navBarStyle p, .navBarStyle h1 {
 color: inherit; 
 scale: 150%;
 margin-left: 5rem;
 text-decoration: underline !important;
 text-decoration-color: transparent !important;
 transition: 0.4s;
}

.NavBarPointer {
 cursor: pointer;
 color: white!important;
 scale: 150%;
 
 text-decoration: underline !important;
 text-decoration-color: transparent !important;
 transition: 0.4s;
 
 
}

.NavBarPointer:hover, .navBarStyle a:hover {
 color: #39FF14 !important;
 text-decoration-color: #39FF14 !important;
 text-decoration: underline;
 
 

}
