.navBarStyle {
 background-color: #4040FF;
 position: fixed;
 height: 3rem;
 width: 100%;
 color: white; /* Set desired font color */
}



.navBarStyle a, .navBarStyle p, .navBarStyle h1 {
 color: inherit; /* Ensures child elements take the navbar's font color */
}