.socialstyle {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #000080;
 bottom: 1rem;
 width: 22rem;
 position: fixed;
 color: rgb(3, 135, 250);
 height: 4rem;
 
 right: 0;
  margin: auto;

 }

 

 .fa {
  padding: 20px;
  font-size: 30px;
  width: 1rem;
  text-align: center;
  text-decoration: none;
  margin: 5px 1px;
  
 
}

.fa:hover {
 opacity: 0.7;
}

.fa-linkedin {
 background: #a82d2d;
 color: rgb(16, 5, 59);
}

.githubstyle {
 scale: 30%;
}
