.socialstyle {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: black;
 bottom: 1rem;
 left: 59rem;
 position: fixed;

 }

 .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  
 
}

.fa:hover {
 opacity: 0.7;
}

.fa-linkedin {
 background: #a82d2d;
 color: rgb(16, 5, 59);
}

.githubstyle {
 scale: 40%;
}
