.maincardstyle {
 color: blue;
 background-color: rgb(24, 24, 24);
 padding: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh; 
}

.introcardstyle {
 display: flex;
 height: 100vh;
 background-color: rgba(4, 7, 23, 0.979);
 justify-content: center;
 align-items: center;
}

.boxcardstyle {
 background-color: blueviolet;
 border: black;
 border-radius: 50px;
 max-Width: 1000px;
 height: auto;


}